@model losol.EventR.Models.EventInfo

@{
    Layout = Layout;
}

<div class="container">

    <form asp-action="Edit">
        <div class="form-horizontal">
            <h4>Rediger kursinformasjon</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input asp-for="Publish" />
                        <label asp-for="Publish"></label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Location" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StartDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StartTime" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="StartTime" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EndDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="EndTime" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LastEnrolmentDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LastEnrolmentDate" class="form-control" />
                    <span asp-validation-for="LastEnrolmentDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="LastWithdrawalDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LastWithdrawalDate" class="form-control" />
                    <span asp-validation-for="LastWithdrawalDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MaxAttendees" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="MaxAttendees" class="form-control" />
                    <span asp-validation-for="MaxAttendees" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Price" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="VatPercent" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="VatPercent" class="form-control" />
                    <span asp-validation-for="VatPercent" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MoreInformation" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="MoreInformation" class="form-control"></textarea>
                    <span asp-validation-for="MoreInformation" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="WelcomeLetter" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="WelcomeLetter" class="form-control"></textarea>
                    <span asp-validation-for="WelcomeLetter" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DiplomaDescription" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="DiplomaDescription" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="DiplomaDescription" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_RichEditor");}
    <script>
        CKEDITOR.replace('MoreInformation', { language: 'nb' });
        CKEDITOR.replace('WelcomeLetter', { language: 'nb' });
    </script>
}
