@model IEnumerable<losol.EventR.Models.EventInfo>

@{
    Layout = Layout;
}

<!DOCTYPE html>

<div class="container">
  @if (User.IsInRole("Editor") || User.IsInRole("Administrator"))
  {
        <p>
        <a class="btn btn-info" asp-action="Create">Legg til nytt kurs</a>
    </p>}
    @foreach (EventInfo e in Model)
    {
        @Html.Partial("EventCard", e)
    }

        
</div>
