@{
    ViewData["Title"] = "Om Nordland legeforening";
}
<div class="container py-2">
    <h1>@ViewData["Title"].</h1>
        <h1>Om Nordland legeforening</h1>
        <p>Nordland legeforening er en lokalforening av Den norske legeforening. Foreningens skal fremme legeforeningens formål i området ved å ivareta fellesskapet blant legene og virke for deres felles interesser ved blant annet:</p>
        <ol class="plain" type="1">
            <li>å engasjere seg i lokal helsepolitikk i området og i helseregionen og arbeide for hensiktsmessig organisering av den samlede helsetjeneste.</li>
            <li>å ha overordnet ansvar for at det lokale arbeidet med inntekts- og arbeidsvilkår blir tilfredsstillende ivaretatt i samarbeid med yrkesforeningene. Lokalforeningene skal gi praktisk bistand til yrkesforeningene ved valg av tillitsvalgte og ved opplæring, samt dekke utgifter som tillitsvalgte har ved utøvelse av funksjonen. Avsetning til dette punkt skal fremgå av budsjettet.</li>
            <li>
                å ha omsorg for, og yte hjelp til enkeltmedlemmer, gjennom blant annet å sørge for organisering av kollegastøtte og drift av helsetiltak for leger.
            </li>
            <li>
                å drive relevante kurs og annen utdanningsvirksomhet.
            </li>
            <li>
                å fremme kollegialitet og fellesskap mellom medlemmer, herunder pensjonistmedlemmer, i området ved møter eller andre tiltak for faglig og sosialt samvær.
            </li>
            <li>å kunne løse lokale tvister mellom medlemmer og motparter og mellom medlemmer.</li>
        </ol>
        <p>Foreningen ledes av et <a href="http://legeforeningen.no/lokal/nordland/Om-oss/styret-i-nlf-2009-2011/" target="_new">styre</a> og kurskomiteen leder <a href="http://legeforeningen.no/lokal/nordland/Om-oss/Kurskomite-2011---2013/" target="_new">kursvirksomheten</a> i samarbeid med <a href="http://legeforeningen.no/lokal/nordland/Om-oss/Kontakt-oss/" target="_new">sekretariatet</a>.</p>
    </div>
