@{
    ViewData["Title"] = "Contact";
}

<div class="container py-2">
    <h2>@ViewData["Title"].</h2>

    <address>
        Losol AS<br />
        Halfdan Kjerulfs vei 16<br />
        1410 Kolbotn<br />
        <abbr title="Phone"><i class="fa fa-phone" aria-hidden="true"></i></abbr>
        22 35 40 00
    </address>

    <address>
        <strong>Support:</strong>&nbsp;&#111;&#108;&#101;&#064;&#108;&#111;&#115;&#111;&#108;&#046;&#110;&#111;<br />
    </address>

</div>
