@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Events</h1>
        <p class="lead">This is what is happening soon!</p>
    </div>
</div>