@model EventInfoListViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutFluid";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Kurs og konferanser for helsefolk</h1>
        <p class="lead">Se og bestill kurs hos Nordland legeforening!</p>
    </div>
</div>

<div class="container">
    <div class="display-4">Neste kurs</div>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            @foreach (EventInfo e in Model.EventInfos.OrderByDescending(s => s.StartDate).Take(4))
            {
                @Html.Partial("EventCard", e)
            }

        </div>
    </div>
    <div class="card-deck-wrapper">
        <div class="card-deck">
            @foreach (EventInfo e in Model.EventInfos.OrderByDescending(s => s.StartDate).Skip(4).Take(4))
            {
                @Html.Partial("EventCard", e)
            }

        </div>
    </div>
</div>