@{
    ViewData["Title"] = "Personvern og informasjonskapsler";
}
<div class="container py-2">
    <h1 class="display-2">@ViewData["Title"].</h1>

        <p>Personvernerklæringen beskriver hvordan Nordland legeforening samler inn og bruker informasjon om kundene på våre sider.</p>
        <p>Våre forpliktelser er blant annet beskrevet i følgende juridiske rammer:</p>
        <ul class="plain">
            <li>Personopplysningsloven §19 om innsamling av personopplysninger</li>
            <li>Personopplysningsloven §18 om behandling av personopplysninger</li>
            <li>Lov om elektronisk kommunikasjon §2-7 om informasjonskapsler/cookies</li>
        </ul>
        <p>Nordland legeforening lagrer følgende informasjonskapsler om alle brukere:</p>
        <ul class="plain">
            <li>Google Analytics er Googles analyseverktøy som hjelper innehavere av nettsider og apper med å forstå hvordan brukerne deres samhandler med funksjonene og egenskapene på nettsidene og i appene. Dette verktøyet kan bruke et sett med informasjonskapsler for å samle informasjon og rapportere statistikk om nettsidebruk, uten å identifisere enkeltpersoner for Google.</li>
            <li>Sesjonskapsel: Informasjonskapsel for sesjon, for å holde styr på brukerens innlogging.</li>
        </ul>
        <p>Dersom bruker ønsker å bestille kurs i vår løsning vil flere data bli lagret i en database:</p>
        <ul class="plain">
            <li>Fullstendig navn og adresse</li>
            <li>Epostadresse</li>
            <li>Telefonnummer</li>
            <li>Stilling/tittel</li>
            <li>Fødselsdato</li>
            <li>Informasjon om hvem som skal betale for produktene vil lagres, mens kortdata blir ikke lagret på vår server.</li>
            <li>Tidspunkt for siste innlogging vil lagres.</li>
        </ul>
        <p>Når kurs er bestilt vil følgende data lagres i en database:</p>
        <ul class="plain">
            <li>Bestillingsdato</li>
            <li>Kurstittel</li>
            <li>Eventuell avbestillingsdato</li>
        </ul>
        <p>Når kurset er gjennomført vil følgende data lagres:</p>
        <ul class="plain">
            <li>informasjon om bestått kurskrav og eventuelt kursbevis.</li>
        </ul>
    </div>
</div>s