@{
    ViewData["Title"] = "About";
}
<div class="container py-2">
        <h1>Vilkår for kurspåmelding i Nordland legeforening</h1>
        <p><strong>Partene:</strong></p>
        <ul class="plain">
            <li>Selger for tjenenestene på denne nettsiden er: Nordland Legeforening, Orgnr. 975535738, Mørkvedsenteret 17, 8028 Bodø.</li>
            <li>Kjøper er den som er oppgitt som kjøper i bestillingen</li>
        </ul>
        <p><strong>Påmelding:</strong> Kurs og konferanser er åpne for alle som tilfredsstiller forhåndskunnskapene som er nødvendige for å ta kurset, for de fleste kurs vil det bety at man må være lege. Du finner informasjon under hvert enkelt kurs om hvem som er målgruppen. Personopplysningene du oppgir behandles konfidensielt, er sikkert lagret og vil ikke overgis eller selges til andre parter. For å kunne benytte våre tjenester må du være over 18 år. Vi anbefaler at du alltid dobbeltsjekker ordreinnholdet før du bekrefter bestillingen. Påmeldte som ikke møter opp og som ikke er avmeldt vil måtte betale full kursavgift, og vil ikke motta kursbevis.</p>
        <p><strong>Avmelding:</strong> Det enkelt kurs har angitt avmeldingsfrist. Kurspåmelding er i utgangspunktet bindende. Tjenestene som selges på dette nettstedet er ikke omfattet av angreretten og kjøper vil derfor ikke motta angrerettskjema fra Nordland Legeforening.</p>
        <ul class="plain">
            <li>Ved avmelding før avbestillingsfristen, så refunderes kursavgiften, men det tilkommer det et administrasjonsgebyr, for tiden på 500 kr.</li>
            <li>Ved avmelding etter fristen vil kursavgiften kun refunderes ved dokumentert sykdom. Der hotell eller reise er bestilt og betalt til Nordland legeforening gjennom kursportalen vil vi avbestille hotell og reise, mens ved øvrige bestillinger må deltaker avbestille disse selv.</li>
            <li>Ekstraprodukter som ekstra måltider og utflukter og annet kan refunderes ved avmelding minst 2 uker før arrangementets start.</li>
        </ul>
        <p><strong>Avlysning:</strong> Dersom kurset blir avlyst grunnet forhold som Nordland legeforening ikke har kontroll over (force majeure), så vil vi informere deltakerne så snart som mulig. Innbetalt kursavgift vil da refunderes. Dersom kurset avlyses grunnet for få deltakere så vil kursavgift refunderes i sin helhet. Nordland legeforening tar ikke ansvar for deltakers reise til og fra kurssted.</p>
        <p><strong>Pris:</strong> Kursprisen inkluderer adgang og eventuelt kursbevis for kurset. I tillegg har de fleste kurs ekstraprodukter som vi formidler, slik som for eksempel mat og utflukter.</p>
        <p><strong>Betaling:</strong> Dersom deltaker ønsker faktura, settes bet.alingsfrist til 20 dager etter mottatt påmelding. Dersom det er mer enn tre måneder til kursstart, så vil kurset faktureres tre måneder før kursstart. Dersom det er mindre enn tre uker til kurs, vil det kunne sendes faktura med kortere frist.</p>
        <ul class="plain">
            <li>Kortbetaling: Nordland Legeforening er ansvarlig for transaksjoner som gjennomføres i nettbutikken. All informasjon mellom Nordland Legeforening og Nets er kryptert og utføres med sikker teknologi. Kortnummeret ditt og din personlige informasjon er beskyttet, og formidles ikke til tredjepart eller Nordland Legeforening.</li>
            <li>Faktura: Fordringer ivaretas av Arvato, og spørsmål om mottatt faktura gjøres til adresse spesifisert på faktura.</li>
        </ul>
        <p><strong>Endringer:</strong> Kursprogrammet vil kunne endres. Vi plikter å orientere deltakerne så snart som mulig om endringer i programmet, og vil presentere gjeldende program til enhver tid på våre nettsider.</p>
        <p><strong>Deltakers plikter:</strong></p>
        <ul class="plain">
            <li><strong>Informasjon til oss:</strong> Ved sykdom eller forsinkelser plikter deltaker å orientere så raskt som mulig.</li>
            <li><strong>Sertifisering/kursbevis:</strong> Det vil kunne settes ulike krav til deltakerne på kurs for å få kursbevis. På de fleste kurs vil det føres presensliste, der fravær ikke aksepteres. På noen kurs vil det kunne være krav til kursprøve eller hjemmelekse for å få kursbevis. Dersom man ikke tilfredsstiller krav spesifisert i kursbeskrivelse, så vil man ikke motta kursbevis.</li>
            <li><strong>Klager/erstatningskrav:</strong> Klager og erstatningskrav skal rettes så snart som mulig, og senest innen to uker etter kursavslutning. De skal sendes skriftlig til daglig leder i Nordland legeforening. </li>
        </ul>
    </div>