@using losol.EventR.Models

<div class="container-fluid footer-above">
    <div class="row py-2">
        <div class="col-md-6">
            <img class="pb-2" src="~/images/Nordland_legeforening-neg-300x84.png" alt="Logo Nordland legeforening" />
            <p>Nordland legeforening er en lokalforening av Den norske legeforening. </p>
        </div>

        <div class="col-md-3">
            <h3>Kontakt oss</h3>
            <div>
                <ul class="list-unstyled">
                    <li><i class="fa fa-fw fa-map-marker"></i>&nbsp;&nbsp; Mørkvedsenteret 17, 8028 Bodø</li>
                    <li><i class="fa fa-fw fa-phone"></i>&nbsp;&nbsp; 75 54 49 11</li>
                    <li><i class="fa fa-fw fa-envelope"></i>&nbsp;&nbsp; &#107;&#117;&#114;&#115;&#064;&#110;&#111;&#114;&#100;&#108;&#097;&#110;&#100;&#045;&#108;&#101;&#103;&#101;&#102;&#111;&#114;&#101;&#110;&#105;&#110;&#103;&#046;&#110;&#111;</li>

                </ul>
            </div>


        </div>

        <div class="col-md-3">
            <h3>I sosiale medier</h3>
            <ul class="list-inline">
                <li>
                    <a href="https://www.facebook.com/nordlandslege" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/nordlandslege" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="container-fluid footer-below">
    <div class="row py-1">
        <div class="col-lg-12">
            <p class="text-white"> Alle rettigheter reservert © kursinord.no - Best på kurs</p>
        </div>
    </div>
</div>