<nav class="navbar navbar-dark bg-inverse hidden-print text-white no-link-decoration" id="header-navbar">
    <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-toggleable-md" id="navbarResponsive">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;kursinord.no</a>
        <div class="nav-item float-lg-right">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>